// vzorek barev
$primary: rgb(47, 27, 53);
$secondary: rgb(119, 114, 184);
$tertiary: rgb(93, 67, 98);
$background2: snow;
$pink: rgb(255, 206, 255);
$footer: rgb(74, 55, 45);

$text: "Audiowide", cursive;
$text-size: 10px;
$shadow: inset 0 2px 4px $secondary;
$shadow2: 0 4px 4px $primary;

html {
  background-image: url(images/abstract-white-color-canvas-wallpaper-textures-surface.jpg);
}

.containare {
  width: 320px;
  position: relative;
  margin: auto;
  font-family: $text;
}
//  hlavička-------------------------------------------------------------
.header__foto {
  width: 100%;
  position: relative;
  align-items: center;
  height: auto;
}

.header {
  display: flex;
}

.header__logo {
  margin: 10px 0 0;
  padding: 0;
  position: absolute;
  right: 10px;
  width: 41%;
}
.header__logo--original {
  color: $pink;
  font-family: $text;
  font-size: $text-size;
  box-sizing: border-box;
  border: 5px solid $pink;

}
.header__logo--smaller {
  color: $pink;
  font-family: $text;
  font-size: 8px;
  box-sizing: border-box;
  border: 5px solid $pink;
}
h1 {
  margin: 5%;
}
// ---------------------------------------------

// -- patička------------------------------------------
.footer {
  background-color: $footer;
  width: 100%;
  height: 100px;
  display: block;
}
.footer__logo {
  margin: auto;
  padding-top: 14px;
  width: 53%;
}
.footer__text {
  font-size: $text-size;
  text-align: center;
}

// -------------------------------------------
// menu hamburger---------------------------------
.menu {
  overflow: hidden;
  background-color: $primary;
  position: relative;
}
.menu__links a {
  color: $background2;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 4px;
  padding: $text-size 0;
  box-shadow: $shadow;
}

.menu__links a:hover {
  background-color: $secondary;
}
a:focus {
  background-color: $tertiary;
}
.menu__hamburger {
  background-color: $primary;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
  left: 83%;
  border: 2px solid $background2;
  margin: 2% 0;
}
.menu__burger {
  width: 25px;
  height: 3px;
  background: $background2;
  border-radius: 5px;
  box-shadow: 0 1px 2px $secondary;
  transition: all 0.5s ease-in-out;
}
.menu__burger::before,
.menu__burger::after {
  content: " ";
  position: absolute;
  right: 5px;
  width: 25px;
  height: 3px;
  background: $background2;
  border-radius: 5px;
  box-shadow: 0 1px 2px $secondary;
  transition: all 0.5s ease-in-out;
}
.menu__burger::before {
  transform: translateY(-8px);
}
.menu__burger::after {
  transform: translateY(8px);
}
.menu__links {
  display: none;
}
#nav-ul.show {
  display: block;
}
// animace hamburger menu, změní se na křížek
.menu__hamburger.open .menu__burger {
  transform: translateX(-25px);
  background: transparent;
  box-shadow: none;
  border: none;
}
.menu__hamburger.open .menu__burger::before {
  transform: rotate(45deg) translate(22px, -22px);
}
.menu__hamburger.open .menu__burger::after {
  transform: rotate(-45deg) translate(22px, 22px);
}

// ------------------------------------------
// při větší obrazovce je třeba dodat, do podmínek pozor zadat na spárné místo
// .menu__hamburger{
//   display: none;
// }
// .menu__hamburger {
//   display: block;
// }
// ----------------------------------------------------------

// section-----------------------------------------
.section {
  background-color: $background2;
  padding-bottom: 14px;
}
.section__foto,
.section__border {
  width: 80%;
  margin-top: 14px;
  margin-left: 10%;
}
.section__foto {
  box-shadow: $shadow2;
}
.section__text {
  margin: 1.5em 0 0 0;
  text-align: center;
  font-family: $text;
  font-size: $text-size;
  box-shadow: $shadow2;
  padding: 1em;
}
// ------------------------------------