// vzorek barev
$primary: rgb(47, 27, 53);
$secondary: rgb(119, 114, 184);
$tertiary: rgb(93, 67, 98);
$background1: rgb(229, 219, 232);
$background2: snow;
$pink: rgb(255, 206, 255);

html {
  background-image: url(images/abstract-white-color-canvas-wallpaper-textures-surface.jpg);
}

.containare {
  width: 320px;
  position: relative;
  margin: auto;
}

.header__foto {
  width: 100%;
  position: relative;
  align-items: center;
  height: auto;
}

.header {
  display: flex;
}

h1 {
  margin: 10px 0 0;
  color: $pink;
  font-family: "Estonia", cursive;
  font-size: 270%;
  position: absolute;
  right: 5%;
  top: 0;
}
.menu {
  margin: 0;
  padding: 0;
  padding-right: 5%;
  box-sizing: border-box;
  background-color: $primary;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid $background2;
  width: 30px;
  height: 30px;
}
.menu-btn__burger {
  width: 15px;
  height: 3px;
  background: $background2;
  border-radius: 5px;
  box-shadow: 0 1px $secondary;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: " ";
  position: absolute;
  width: 15px;
  height: 3px;
  background: $background2;
  border-radius: 5px;
  box-shadow: 0 1px $secondary;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}

// animace

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
